/* These overrides are for the IE browser, fixes and what not to make it work. */

html { overflow-y: scroll; } 

#menubar {
	zoom: 1; /* IE fix, allows for variable height menu  */
	}

tt a:hover 
{
	z-index:1000; color: #aaaaff; 
	background-color: Transparent;
}