/* COMIC NAVIGATION 
Author: Tyler Martin
Style: Default
*/
#comic_navi_wrapper {
	text-align: center;
}

.comic_navi_left {
	height: 25px;
	display: inline-block;
	float: left;
}

.comic_navi_center {
	height: 25px;
	margin-bottom: 10px;
	margin: 0 auto;
	display: inline-block;
}

.comic_navi_right {
	height: 25px;
	display: inline-block;
	float: right;
}

.comic_navi {
	background: #000;
	height: 25px;
	line-height: 24px;
	display: table;
	border-collapse: collapse;
	margin: 0 auto;

}

.navi-comictitle {
	padding: 0px 10px;
	text-align: center;
	display: inline-block;
}
	.navi-comictitle a {
		color: #fff;
	}
	
	.navi-comictitle a:hover {
		color: #f00;
	}

.navi {
	padding: 0 10px;
	color: #fff;
}

.navi a {
	display: block;
	color: #fff;
	text-decoration: none;
}

	.navi a:hover {
		color: #000;
		background: #f00;
	}

.navi-first {
	float: left;
}

.navi-prevchap, .navi-story_prev {
	float: left;
}

.navi-story_prev_in {
	float: left;
}

.navi-prev, .navi-previous {
	float: left;
}


.navi-comments, .navi-archive, .navi-random, .navi-buyprint {
	display: inline-block;
}

.navi-buyprint {
	height: 25px;
	width: 80px;
	line-height: 15px;
	color: #000;
	margin: 0;
	padding: 0;
}

	.navi-buyprint:hover, button .navi-buyprint:hover {
	}

	.navi-buyprint-form {
		}

.navi-archive, .navi-archives {
}

.navi-random {
}

.navi-comments {
}

	a.navi-comments span {
	}
	
		a.navi-comments span:hover {
			}
			
			.navi-comments-count {
				padding-right: 4px;
			}
	
.navi-next {
	float: left;
}

.navi-nextchap, .navi-story_next {
	float: left;
}

.navi-story_next_in {
	float: left;
}

.navi-last {
	float: left;
}

.navi-void, .navi-void:hover {
	color: #555;
}

.comic-left .navi-prev, .comic-right .navi-prev, .comic-left .navi-next, .comic-right .navi-next {
/*	margin: 0 5px; */
	}

