/* COMIC NAVIGATION 
Author: Tyler Martin
Style: Default
*/
#comic_navi_wrapper {
	width: 100%;
	height: 25px;
	background: black;
}

#comic_navi {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	line-height: 25px;
	font-size: 13px;
}

.navi-comictitle {
	text-align: center;
}

.navi {
}

.navi a {
	padding: 0px 10px 0 10px;
	display: block;
	color: #fff;
	text-decoration: none;
}

	.navi a:hover {
		color: #000;
		background: #f00;
	}

.navi-first {
}

.navi-prevchap, .navi-story_prev {
}

.navi-story_prev_in {
}

.navi-prev, .navi-previous {
}


.navi-comments, .navi-archive, .navi-random, .navi-buyprint {
}

.navi-buyprint {
}

	.navi-buyprint:hover, button .navi-buyprint:hover {
	}

	.navi-buyprint-form {
		}

.navi-archive, .navi-archives {
}

.navi-random {
}

.navi-comments {
}

	a.navi-comments span {
	}
	
		a.navi-comments span:hover {
			}
	
.navi-next {
}

.navi-nextchap, .navi-story_next {
}

.navi-story_next_in {
}

.navi-last {
}

.navi-void, .navi-void:hover {
}

.comic-left .navi-prev, .comic-right .navi-prev, .comic-left .navi-next, .comic-right .navi-next {
/*	margin: 0 5px; */
	}

